# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# SQLite database
*.db

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Testing
.pytest_cache/

# Logs
*.log